@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

.Navbar {
    margin:0;
    padding:0;
    top:0;
    position: fixed;
    width:100%;
    /* background-color: #DDD0C8; */
    background-color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* background-color: #808080; */
    color: #323232;
}

.Body {
    margin-top: 100px;
}

.logo {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
}

.links li {
    list-style: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.links li a {
    text-decoration: none;
    color: #323232;
    padding: 1rem;
    display: block;
}

.links li:hover, .links li:focus, .links li:active {
    /* background-color: lightgray; */
    cursor: pointer;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.toggle {
    position: absolute; /* always at the same spot */
    top: 1.25rem; /* not touching the top */
    right: 1rem;
    display: none; /* does not show on default */
    flex-direction: column; /* stacks */
    justify-content: space-between;
    width: 25px;
    height: 19px;
}

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: #323232;
    border-radius: 10px;
}



@media (max-width: 428px) { /* 428 is pro max size */
    .toggle {
        display: flex;
    }
    .links {
        display:none;
        width:100%
    }
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .links ul {
        flex-direction: column;
        width:100%;
    }

    .links li {
        text-align: center;
    }

    .links li a {
        padding: .5rem 1rem
    }

    .links.active {
        display:flex;
    }
}