.container {
    height: 100vh;
    width: 100vw;
    padding: 15px;
    text-align: center;
    
}

.text {
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.list {
    list-style-type: none;
}

.break {
    padding-top: 15px;
    padding-bottom: 15px;
}
