.aboutme {
    .headerFont {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 350%;
        min-width: 300px;
    }

    .bodyFont {
        font-family: 'Montserrat';
        font-weight: 100;
        font-size: 125%;
        min-width: 300px;
        max-width: 550px;
        max-height: 10%;
    }
}

